@tailwind base;
@tailwind components;
@tailwind utilities;

.header-top-animation {
  animation: slider 15s linear infinite;
}

@keyframes slider {
  from {
      transform: translateX(85vw);
    }
    to {
      transform: translateX(-15vw);

  }
}
